.alert-client{
    position: absolute;
    z-index: 1;
    font-size: 16px;
    top: 15%;
    width: 500px;
    text-align: center;
    left: 30%;
}

.alert{
    padding-top: 20px;
    padding-bottom: 20px;
}

.alert-danger{
    background-color: rgb(253, 119, 119);
}

.text-danger{
    color: red !important;
    font-size: 13px;
}